/* Error: Can't find stylesheet to import.
 *   ,
 * 2 | @import '../../node_modules/bootstrap/scss/functions'; // Bootstrap core functions
 *   |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   _bootstrap-extended\_include-dark.scss 2:9  @import
 *   _components\_include-dark.scss 4:9          @import
 *   theme-default-dark.scss 1:9                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 2 \2502  @import '../../node_modules/bootstrap/scss/functions'; // Bootstrap core functions\d\a   \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   _bootstrap-extended\\_include-dark.scss 2:9  @import\a   _components\\_include-dark.scss 4:9          @import\a   theme-default-dark.scss 1:9                 root stylesheet";
}
